<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://62.75.130.215/stockbuch
		</property>
		<property name="hibernate.connection.username">
			stockbuch
		</property>
		<property name="hibernate.connection.password">
			HTm1Yq1MJlS9Wp7l
		</property>

		<!-- List of XML mapping files -->
		<mapping resource="User.hbm.xml" />
		<mapping resource="Freigabe.hbm.xml" />

	</session-factory>
</hibernate-configuration>